{% load static %}

<div class="col s12 m6 l4 " style="width: 30rem !important;">
    <div class="card" onclick="myFunction()" id="dash2">
      <div class="card-header">
        <div class="row">
        <div class="wrapper-image person"><img src="http://127.0.0.1:8000{{i.user.image}}" alt="wipro.com" width="80" height="80" style="border-radius:50%">  </div>
          <!-- <p>{{i.user.image}}</p> -->
        <div class="col s8 m8 l8"><span style="font-size:30px; text-align: right;"> {{ i.user.username }}</span><br><span style="font-size:20px;color: grey;">{{ i.hospital_name }}</span>
       <br>
       
        <p style="font-size: 18px; margin-top: 10px;">{{ i.experience }} years experience</p>
      </div>
      </div>
  </div>
        <div class="card-body" style="margin-left: 0px;">  
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">View Profile</button>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container">
                        
                            <div class="row">
                             
                            
                              <div class="col-lg-5 col-md-5 col-xs-5 boxy">
                                <p style="color:grey;">HELLO EVERYONE, THIS IS</p>
                                <p style="font-size: 50px;font-weight: bold">{{d.user.username}}</p>
                                <p>{{i.specialization}}</p>
                                
                                <!-- <p style="color: grey;">Some quick example text to build on the card title and make up the bulk of the card's content. which is his basic information</p> -->
                                <br>
                                <img src={% static "first_name.png" %} style="margin-right: 10px; margin-bottom: 20px;"/><span style="margin-bottom: 13px!important; font-weight: bold; color:gray;font-size: 16px;"><span style="color: rgb(80,80,80)">FIRST NAME: </span>{{i.user.firstname}}</span>
                                <br>
                                <img src={% static "last_name.png" %} style="margin-right: 10px; margin-bottom: 20px;"/><span style="margin-bottom: 13px!important; font-weight: bold; color:gray;font-size: 16px;"><span style="color: rgb(80,80,80)">LAST NAME:</span> {{i.user.lastname}}</span>
                                <br>
                                <img src={% static "calendar.png" %} style="margin-right: 10px; margin-bottom: 20px;" /><span style="margin-bottom: 13px!important; font-weight: bold; color:gray;font-size: 16px;"><span style="color: rgb(80,80,80)">EXPERIENCE:</span> {{i.experience}}</span>
                                <br>
                                <img src={% static "hospital.png" %} style="margin-right: 10px; margin-bottom: 20px;" /><span style="margin-bottom: 13px!important; font-weight: bold; color:gray;font-size: 16px;"><span style="color: rgb(80,80,80)">HOSPITAL:</span> {{i.hospital_name}}</span>
                                <br>
                                <img src={% static "charge.png" %} style="margin-right: 10px; margin-bottom: 20px;" /><span style="margin-bottom: 13px!important; font-weight: bold; color:gray;font-size: 16px;"><span style="color: rgb(80,80,80)">CONSULTATION FEE:</span> {{i.consultation_fee}}</span>
                                <br>
                                <img src={% static "email.png" %} style="margin-right: 10px; margin-bottom: 20px;"/><span style="margin-bottom: 13px!important; font-weight: bold; color:gray;font-size: 16px;"><span style="color: rgb(80,80,80)">MAIL:</span> {{i.user.email}}</span>
                                <br>
                                
                              </div>
                              <div class="col-lg-3 col-md-3 col-xs-3 boxy" >
                                <div class="pictureContainer">
                                  <img src="http://127.0.0.1:8000{{i.user.image}}" height="400px"; width="400px">
                                  <div class="middle">
                                  </div>
                                </div>
                              </div>
                            </div>
                        
                      </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Send message</button>
                </div>
              </div>
            </div>

          
        </div>
    </div>
    </div>